.footer{
    background-color:#ACACAC;
    font-family: "kiona" !important;
    color: #FFF;
}
.fa{
    font-size: 20px;
    color: #FFF;
}
.copyright{
    color: #FFF;
    font-family: "kiona" !important;
    font-size:15px;
}